@model IEnumerable<RugbyApp.Models.Juniors.ParentsDetails>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.p1FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p1SName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p1Relation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p1Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p1PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p2Sname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p2Relation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p2Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p2PhoneNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.p1FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p1SName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p1Relation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p1Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p1PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p2Sname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p2Relation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p2Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p2PhoneNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
